
img.background-fixe {
    width:60%; /* you can use % */
    height: auto;
    opacity: 0.4;
    position: absolute;
    left: 280px;
}

#gauche-fixe {
    z-index: 1000;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 265px;
}

#droite-fixe {
    z-index: 1000;
    position: absolute;
    top: 15px;
    right: 15px;
}

#droite-fixe img {
    height: 77px;
}

#logo-metamask svg {
    display: block;
    width: 100%;
    text-align: center;
    margin-top:20px;
}

#raccourcis {
    pointer-events: auto;
    /*margin-left: 30px;*/
    padding: 5px;
    background:rgb(215, 215, 215, 0.8);
    
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

#raccourcis .cat-ia-overview {
    margin: 10px 0;
}

#raccourcis ol, #raccourcis ul {
    margin-left: 10px;
    list-style-position: outside;
}

#raccourcis ol {
    list-style-type: decimal;
    padding-left: 10px;
}

#raccourcis li {
    margin-top: 10px;
}

#raccourcis a {
    cursor: pointer;
    padding: 2px;
}

.survol {
    background: rgba(255,255,255,1);
    text-shadow: none;
    /*text-decoration: underline;*/
    font-weight: bold;
    font-size: 1.3em;
}

.ascii_art {
    font-family: monospace, monospace;
    letter-spacing: 0;
    color: black;
    text-shadow: none;
}

.footer-parent {
    height: 70px;
    display: grid;
}

.footer-cat-ia {
    margin: auto;
    font-size: 20px;
}

.footnote-suite {
    padding-left: 23px;
}

.vert {
    color:green;
}

#equipe img {
    width: 100%;
}

.cat-ia-wrapper {
    display: grid;
    grid-template-columns: 157px 157px 157px 157px 157px;
    grid-gap: 10px;
  }

.cat-ia-box {
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    height: 115px;
  }

  .cat-ia-box#java {
      background: url('images/java.png');
      background-size: 157px 157px;
      background-repeat: no-repeat;
  }

  .cat-ia-box#thorntail {
      background: url('images/thorntail_logo.png');
      background-size: 157px 125px;
      background-repeat: no-repeat;
      background-position: center; 
  }

  .cat-ia-box#jakarta {
      background: url('images/jakarta_ee.png');
      background-size: 157px 157px;
      background-repeat: no-repeat;
  }

  .cat-ia-box#kraken {
      background: url('images/kraken_logo.png');
      background-size: 157px 121px;
      background-repeat: no-repeat;
      background-position: center; 
  }

  .cat-ia-box#angularjs, .cat-ia-box#angular6 {
      background: url('images/angular_logo.png');
      background-size: 157px 157px;
      background-repeat: no-repeat;
  }

  .cat-ia-box#d3 {
      background: url('images/d3.jpg');
      background-size: 157px 157px;
      background-repeat: no-repeat;
  }

.cat-ia-box#python {
    background: url('images/python_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#mongo {
    background: url('images/mongodb_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#web3 {
    background: url('images/web3.jpg');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#typescript {
    background: url('images/typescript_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#es6 {
    background: url('images/es6.jpg');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#node {
    background: url('images/nodejs_logo.png');
    background-size: 157px 96px;
    background-repeat: no-repeat;
    background-position: center; 
}

.cat-ia-box#express {
    background: url('images/express_logo.png');
    background-size: 157px 56px;
    background-repeat: no-repeat;
    background-position: center; 
}

.cat-ia-box#google {
    background: url('images/google_cloud.jpg');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}
.cat-ia-box#api-slack {
    background: url('images/slack_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#angular {
    background: url('images/angular_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#jwt {
    background: url('images/jwt_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#metamask {
    background: url('images/metamask_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#pi {
    background: url('images/pi.jpg');
    background-size: auto 157px;
    background-repeat: no-repeat;
    background-position: center; 
    grid-column: span 2;
}

div.cat-ia-dashed {
    border: 1px dashed;
    border-color: white;
}

  span.barre {
      text-decoration: line-through;
  }

img.schema {
    width: 100%;
}
/* on a bien besoin de a.schema:hover et de schema:hover */
a.schema, a.schema:hover, schema:hover {
    background: none;
}

.speaker {
    /* position: absolute;
bottom: 0;
right: 5px;
text-shadow: none;
color: black;
font-size: 14px; */
display:none;
}

/* Transitions avec des sous-étapes par slide */
.substep {
    opacity: 0;
    transition: opacity 1s;
}

.substep-visible {
    opacity: 1;
}

.slide-pic {
    display: block;

    width: 1000px;
    height: 700px;
    padding: 40px 20px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.slide-big-pic {
    display: block;

    width: 880px;
    height: 900px;
    padding: 40px 20px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.slide-transparent {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    /* color: rgb(102, 102, 102); */
    /* text-shadow: 0 2px 2px rgba(0, 0, 0, .1); */

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

#imagination #messages {
    border: 1px solid;
    border-radius: 10px;
    height: 400px;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 50px;
}

#imagination #console {
    height: 200px;
    overflow-y: scroll;
}

#imagination #messages p {
    color: black;
    font-size: 18px;
    margin-bottom: 12px;
}

#imagination #console p {
    color: black;
    font-size: 12px;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -60px); }
    to   { transform: translate(0, -0px); }
}

img.resize {
    width:10000; /* you can use % */
    height: auto;
    opacity: 0.4;
}

#technos-auth {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

h2.authent {
    font-size: 1.5em;
    margin-bottom: 0.8em;
 }

.strike {
    text-decoration: line-through; 
}

#img-catia-background {
    pointer-events:none
}



#ing b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
.positioning2 {
    -webkit-transform: translateX(100px);
    -moz-transform:    translateX(100px);
    -ms-transform:     translateX(100px);
    -o-transform:      translateX(100px);
    transform:         translateX(100px);
}

/*
    ... 'rotating' to rotate a quarter of a second later ...
*/
#ing.present .rotating2 {
    margin-top: 10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform:    rotate(-5deg);
    -ms-transform:     rotate(-5deg);
    -o-transform:      rotate(-5deg);
    transform:         rotate(-5deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;

    margin-bottom: 30px;
}
