#gauche-fixe {
    z-index: 1000;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 265px;
}

#droite-fixe {
    z-index: 1000;
    position: absolute;
    top: 15px;
    right: 15px;
}

#droite-fixe img {
    height: 77px;
}

#logo-metamask svg {
    display: block;
    width: 100%;
    text-align: center;
    margin-top:20px;
}

#raccourcis {
    pointer-events: auto;
    /*margin-left: 30px;*/
    padding: 5px;
    background:rgb(215, 215, 215, 0.8);
    
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

#raccourcis .cat-ia-overview {
    margin: 10px 0;
}

#raccourcis ol, #raccourcis ul {
    margin-left: 10px;
    list-style-position: outside;
}

#raccourcis ol {
    list-style-type: decimal;
    padding-left: 10px;
}

#raccourcis li {
    margin-top: 10px;
}

#raccourcis a {
    cursor: pointer;
    padding: 2px;
}

.survol {
    background: rgba(255,255,255,1);
    text-shadow: none;
    /*text-decoration: underline;*/
}

.ascii_art {
    font-family: monospace, monospace;
    letter-spacing: 0;
    color: black;
    text-shadow: none;
}

.footer-parent {
    height: 70px;
    display: grid;
}

.footer-cat-ia {
    margin: auto;
    font-size: 20px;
}

.footnote-suite {
    padding-left: 23px;
}

.vert {
    color:green;
}

#equipe img {
    width: 100%;
}

.cat-ia-wrapper {
    display: grid;
    grid-template-columns: 157px 157px 157px 157px 157px;
    grid-gap: 10px;
  }

.cat-ia-box {
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    height: 115px;
  }

.cat-ia-box#python {
    background: url('images/python_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}
.cat-ia-box#api-slack {
    background: url('images/slack_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#angular {
    background: url('images/angular_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#jwt {
    background: url('images/jwt_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

.cat-ia-box#metamask {
    background: url('images/metamask_logo.png');
    background-size: 157px 157px;
    background-repeat: no-repeat;
}

div.cat-ia-dashed {
    border: 1px dashed;
    border-color: white;
}

  span.barre {
      text-decoration: line-through;
  }

  #imagination {
    overflow-y: scroll;
}

img.schema {
    width: 100%;
}
/* on a bien besoin de a.schema:hover et de schema:hover */
a.schema, a.schema:hover, schema:hover {
    background: none;
}

.speaker {
    position: absolute;
bottom: 0;
right: 5px;
text-shadow: none;
color: black;
font-size: 14px;
}

.substep {
    opacity: 0;
    transition: opacity 1s;
}

.substep-visible {
    opacity: 1;
}