/*
https://codepen.io/jdelia/pen/KrmvJw
*/
.cog-wheels {
    margin: 2% auto;
    width: 300px;
    height: 300px;
  }
  
  /*Rotate cogs*/
  
  .cog-blue{
    transform-origin: 306.785px 190.5px;
    animation: spin 5s linear infinite;
    animation-delay: 0.3s;
  }
  
  .cog-red {
    transform-origin: 207.352px 357.835px;
    animation: spin-reverse 5s linear infinite;
    animation-delay: 0.3s;
  }
  
  .cog-yellow {
    transform-origin: 393.785px 409.5px;
    animation: spin 5s linear infinite;
    animation-delay: 0.3s;
  }
  
  @keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    100% {
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  
  .active-only.substep-visible {
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes fadeinout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }